build
libid3tag-0.15.1b/compat.lo
libid3tag-0.15.1b/compat.o
libid3tag-0.15.1b/config.h
libid3tag-0.15.1b/config.log
libid3tag-0.15.1b/config.status
libid3tag-0.15.1b/crc.lo
libid3tag-0.15.1b/crc.o
libid3tag-0.15.1b/field.lo
libid3tag-0.15.1b/field.o
libid3tag-0.15.1b/file.lo
libid3tag-0.15.1b/file.o
libid3tag-0.15.1b/frame.lo
libid3tag-0.15.1b/frame.o
libid3tag-0.15.1b/frametype.lo
libid3tag-0.15.1b/frametype.o
libid3tag-0.15.1b/genre.lo
libid3tag-0.15.1b/genre.o
libid3tag-0.15.1b/latin1.lo
libid3tag-0.15.1b/latin1.o
libid3tag-0.15.1b/libid3tag.la
libid3tag-0.15.1b/libid3tag.list
libid3tag-0.15.1b/libtool
libid3tag-0.15.1b/Makefile
libid3tag-0.15.1b/parse.lo
libid3tag-0.15.1b/parse.o
libid3tag-0.15.1b/render.lo
libid3tag-0.15.1b/render.o
libid3tag-0.15.1b/stamp-h1
libid3tag-0.15.1b/tag.lo
libid3tag-0.15.1b/tag.o
libid3tag-0.15.1b/ucs4.lo
libid3tag-0.15.1b/ucs4.o
libid3tag-0.15.1b/utf8.lo
libid3tag-0.15.1b/utf8.o
libid3tag-0.15.1b/utf16.lo
libid3tag-0.15.1b/utf16.o
libid3tag-0.15.1b/util.lo
libid3tag-0.15.1b/util.o
libid3tag-0.15.1b/version.lo
libid3tag-0.15.1b/version.o
libid3tag-0.15.1b/.deps/compat.Plo
libid3tag-0.15.1b/.deps/crc.Plo
libid3tag-0.15.1b/.deps/debug.Plo
libid3tag-0.15.1b/.deps/field.Plo
libid3tag-0.15.1b/.deps/file.Plo
libid3tag-0.15.1b/.deps/frame.Plo
libid3tag-0.15.1b/.deps/frametype.Plo
libid3tag-0.15.1b/.deps/genre.Plo
libid3tag-0.15.1b/.deps/latin1.Plo
libid3tag-0.15.1b/.deps/parse.Plo
libid3tag-0.15.1b/.deps/render.Plo
libid3tag-0.15.1b/.deps/tag.Plo
libid3tag-0.15.1b/.deps/ucs4.Plo
libid3tag-0.15.1b/.deps/utf8.Plo
libid3tag-0.15.1b/.deps/utf16.Plo
libid3tag-0.15.1b/.deps/util.Plo
libid3tag-0.15.1b/.deps/version.Plo
libid3tag-0.15.1b/.libs/libid3tag.a
libid3tag-0.15.1b/.libs/libid3tag.la
libid3tag-0.15.1b/.libs/libid3tag.lai
libid3tag-0.15.1b/msvc++/Makefile
libmad-0.15.1b/bit.lo
libmad-0.15.1b/bit.o
libmad-0.15.1b/config.h
libmad-0.15.1b/config.h.in~
libmad-0.15.1b/config.log
libmad-0.15.1b/config.status
libmad-0.15.1b/decoder.lo
libmad-0.15.1b/decoder.o
libmad-0.15.1b/fixed.lo
libmad-0.15.1b/fixed.o
libmad-0.15.1b/frame.lo
libmad-0.15.1b/frame.o
libmad-0.15.1b/huffman.lo
libmad-0.15.1b/huffman.o
libmad-0.15.1b/imdct_l_arm.lo
libmad-0.15.1b/imdct_l_arm.o
libmad-0.15.1b/layer3.lo
libmad-0.15.1b/layer3.o
libmad-0.15.1b/layer12.lo
libmad-0.15.1b/layer12.o
libmad-0.15.1b/libmad.la
libmad-0.15.1b/libmad.list
libmad-0.15.1b/libtool
libmad-0.15.1b/Makefile
libmad-0.15.1b/stamp-h1
libmad-0.15.1b/stream.lo
libmad-0.15.1b/stream.o
libmad-0.15.1b/synth.lo
libmad-0.15.1b/synth.o
libmad-0.15.1b/timer.lo
libmad-0.15.1b/timer.o
libmad-0.15.1b/version.lo
libmad-0.15.1b/version.o
libmad-0.15.1b/.deps/bit.Plo
libmad-0.15.1b/.deps/decoder.Plo
libmad-0.15.1b/.deps/fixed.Plo
libmad-0.15.1b/.deps/frame.Plo
libmad-0.15.1b/.deps/huffman.Plo
libmad-0.15.1b/.deps/layer3.Plo
libmad-0.15.1b/.deps/layer12.Plo
libmad-0.15.1b/.deps/minimad.Po
libmad-0.15.1b/.deps/stream.Plo
libmad-0.15.1b/.deps/synth.Plo
libmad-0.15.1b/.deps/timer.Plo
libmad-0.15.1b/.deps/version.Plo
libmad-0.15.1b/.libs/libmad.a
libmad-0.15.1b/.libs/libmad.la
libmad-0.15.1b/.libs/libmad.lai
libmad-0.15.1b/autom4te.cache/output.0
libmad-0.15.1b/autom4te.cache/requests
libmad-0.15.1b/autom4te.cache/traces.0
libmad-0.15.1b/msvc++/Makefile
madplay-0.15.2b/audio_aiff.o
madplay-0.15.2b/audio_alsa.o
madplay-0.15.2b/audio_cdda.o
madplay-0.15.2b/audio_hex.o
madplay-0.15.2b/audio_null.o
madplay-0.15.2b/audio_raw.o
madplay-0.15.2b/audio_snd.o
madplay-0.15.2b/audio_wave.o
madplay-0.15.2b/audio.o
madplay-0.15.2b/config.h
madplay-0.15.2b/config.log
madplay-0.15.2b/config.status
madplay-0.15.2b/crc.o
madplay-0.15.2b/filter.o
madplay-0.15.2b/getopt.o
madplay-0.15.2b/getopt1.o
madplay-0.15.2b/libtool
madplay-0.15.2b/madplay
madplay-0.15.2b/madplay.list
madplay-0.15.2b/madplay.o
madplay-0.15.2b/Makefile
madplay-0.15.2b/player.o
madplay-0.15.2b/resample.o
madplay-0.15.2b/rgain.o
madplay-0.15.2b/stamp-h1
madplay-0.15.2b/tag.o
madplay-0.15.2b/version.o
madplay-0.15.2b/.deps/audio_aiff.Po
madplay-0.15.2b/.deps/audio_alsa.Po
madplay-0.15.2b/.deps/audio_carbon.Po
madplay-0.15.2b/.deps/audio_cdda.Po
madplay-0.15.2b/.deps/audio_empeg.Po
madplay-0.15.2b/.deps/audio_esd.Po
madplay-0.15.2b/.deps/audio_hex.Po
madplay-0.15.2b/.deps/audio_jaguar.Po
madplay-0.15.2b/.deps/audio_nas.Po
madplay-0.15.2b/.deps/audio_null.Po
madplay-0.15.2b/.deps/audio_oss.Po
madplay-0.15.2b/.deps/audio_qnx.Po
madplay-0.15.2b/.deps/audio_raw.Po
madplay-0.15.2b/.deps/audio_snd.Po
madplay-0.15.2b/.deps/audio_sun.Po
madplay-0.15.2b/.deps/audio_wave.Po
madplay-0.15.2b/.deps/audio_win32.Po
madplay-0.15.2b/.deps/audio.Po
madplay-0.15.2b/.deps/crc.Po
madplay-0.15.2b/.deps/filter.Po
madplay-0.15.2b/.deps/getopt.Po
madplay-0.15.2b/.deps/getopt1.Po
madplay-0.15.2b/.deps/mad123.Po
madplay-0.15.2b/.deps/madmix.Po
madplay-0.15.2b/.deps/madplay.Po
madplay-0.15.2b/.deps/madtag.Po
madplay-0.15.2b/.deps/madtime.Po
madplay-0.15.2b/.deps/player.Po
madplay-0.15.2b/.deps/resample.Po
madplay-0.15.2b/.deps/rgain.Po
madplay-0.15.2b/.deps/strcasecmp.Po
madplay-0.15.2b/.deps/strncasecmp.Po
madplay-0.15.2b/.deps/tag.Po
madplay-0.15.2b/.deps/tagger.Po
madplay-0.15.2b/.deps/version.Po
madplay-0.15.2b/intl/Makefile
madplay-0.15.2b/m4/Makefile
madplay-0.15.2b/msvc++/Makefile
madplay-0.15.2b/po/Makefile
madplay-0.15.2b/po/Makefile.in
madplay-0.15.2b/po/POTFILES
